<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>History</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <style>
    #userPrompt{
      background-color: rgb(82, 82, 253);
      padding: 10px;
      color: white;
      border-radius: 10px;
    }
    #botResponse{
      background-color: #8d8d8d;
      padding: 10px;
      color: white;
      border-radius: 10px;
    }
    #time{
      font-size: 12px;
    }
  </style>
  <body>
    <div
      class="container d-flex align-items-center justify-content-center flex-column"
    >
      <h1 class="my-4 text-center">All of your history is saved here 📷📢</h1>
      <a class="btn btn-primary text-center mb-4" href="/">Go back to chatbot 📌🚀</a>
    </div>
    <div class="container">
      <% results.forEach(result=> { %>
      <p id="time"><%= result.createdAt %></p>
      <p id="userPrompt">
        <b>Farish:</b>
        <%= result.userQuery %>
      </p>
      <p class="mb-5" id="botResponse">
        <b>ChatGPT:</b>
        <%= result.botResponse %>
      </p>
      <% }); %>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
